table {
    font-family: arial, serif;
    border-collapse: collapse;
    font-size: 14px;
    width: 50%;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    background-color: grey;
}

td.nameField {
    text-align: left;
}

td.ageField {
    text-align: right;
}

td.marriageField {
    text-align: center;
}

.logo {
    position: relative;
    width: 100%;
    height: 60px;
    align-content: center;
    /*can remove object-fit, to stretch image. Didn't look nice*/
    object-fit: contain;
    border-style: dotted;
    border-color: lightpink;
}

.diceImage {
    position: relative;
    align-content: center;
    width: 100%;
    object-fit: contain;

}

.imageContainer {
    margin: auto;
    text-align: center;
    display: flex;
}

/*.buttonContainer {*/
/*    width: 100%;*/
/*}*/