<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Solution</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<script src="../table.js"></script>
<h2>Section 2</h2>
<h3>Question 1</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Married</th>
    </tr>
    <tr>
        <td class="nameField">John</td>
        <td class="ageField">23</td>
        <td class="marriageField">Yes</td>
    </tr>
    <tr>
        <td class="nameField">Mick</td>
        <td class="ageField">46</td>
        <td class="marriageField">Yes</td>
    </tr>
    <tr>
        <td class="nameField">Adam</td>
        <td class="ageField">33</td>
        <td class="marriageField">No</td>
    </tr>
    <tr>
        <td class="nameField">Sandy</td>
        <td class="ageField">28</td>
        <td class="marriageField">No</td>
    </tr>
    <tr>
        <td class="nameField">Monica</td>
        <td class="ageField">53</td>
        <td class="marriageField">Yes</td>
    </tr>
    <tr>
        <td class="nameField">Jack</td>
        <td class="ageField">18</td>
        <td class="marriageField">No</td>
    </tr>
    <tr>
        <td class="nameField">Lesley</td>
        <td class="ageField">30</td>
        <td class="marriageField">Yes</td>
    </tr>
    <tr>
        <td class="nameField">Coby</td>
        <td class="ageField">60</td>
        <td class="marriageField">Yes</td>
    </tr>
</table>

<div>
    <h3>Question 2</h3>
    <button type="button" id="averageAgeButton" onclick='showAlert("averageAgeButton", getAgeAge())'>Average Age
    </button>
    <button type="button" id="countMarriedButton" onclick='showAlert("countMarriedButton", getNumberOfMarriedPeople())'>
        Count Married
    </button>
    <!--    <button type="button" id="rollDiceButton" onclick='showAlert("rollDiceButton", getDiceRoll())'>Roll Dice</button>-->
    <a href="dice-roll.html">
        <button type="button" id="rollDiceButton">Roll Dice</button>
    </a>
</div>

<div>
    <h3>Question 3</h3>
    <a target="_blank" href="https://www.vscsolutions.co.za/">
        <img src="../image-asserts/logo.png"
             class="logo"
             alt="VSC Smart Supply Chain Logo">
    </a>
</div>
</body>
</html>